body {
  background: #c1f4c5;
}
a {
  color: #ffbed8;
}
.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  font-size: 50px;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
