.Lexicon h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Lexicon section {
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0/10%);
  margin: 20px 0;
}

.Lexicon input {
  width: 100%;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Lexicon .hint {
  font-size: 11px;
  margin-top: 5px;
}
