.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  background: #ffbed8;
  border: 1px solid #65c18c;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: white;
}

.Phonetics .text {
  opacity: 0.5;
  font-weight: bold;
}
